.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.word-block {
  grid-area: word;
}

.timer-block {
  grid-area: timer;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}

.timer {
  font-size: 15rem;
  padding: 1rem;
}

.current-word {
  font-size: 3rem;
  padding: 1rem;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-hor-center {
  justify-content: center;
}

.flex-vert-center {
  align-items: center;
}

.spacing-top {
  margin-top: 4em;
}

.game-over {
  background-color: #ff0000;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffffff;
}

.radio-button label {
  padding: .5rem 1rem;
  cursor: pointer;
  margin: .25em;
}

.radio-button input {
  display: none;
}

button {
  padding: 1rem 4rem;
  font-size: 1.25em;
  transition: 200ms linear all;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:disabled {
  color: #fff;
  background-color: hsl(134, 31%, 31%);
  border-color: #1e7e34;
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

